@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #fff;
    background-color: #000;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    padding: 100px 30px;
}

.wrapper{
  margin: 0 auto;
  padding: 0 30px;
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-align: center;
}

button{
  all: unset;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin: 10px 7px;
  text-transform: capitalize;
}